 
/*Step 1*/

.containerIntro div:nth-child(even) {background: #CCC}
.containerIntro div:nth-child(odd) {background:aqua} 


.containerIntro{
    display: grid;
    height: 100vh;
    grid-template-columns: 100px repeat(auto-fill, minmax(300px, 1fr)) 150px;
    grid-template-rows: repeat(auto-fill,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}